## See The Data

In [1]:
import pandas as pd

lc_loans_df = pd.read_csv("../data/lc_loans.csv")
lc_loans_df

             status grade
0        Fully Paid     B
1       Charged Off     C
2        Fully Paid     C
3        Fully Paid     C
4           Current     B
...             ...   ...
450956      Current     D
450957      Current     D
450958      Current     D
450959      Current     D
450960   Fully Paid     A

[450961 rows x 2 columns]

## Make Contingency table

In [4]:
contingency_table = pd.crosstab(lc_loans_df['grade'], lc_loans_df['status'], margins=True)

contingency_table

status  Charged Off  Current  Fully Paid  Late     All
grade
A              1562    50051       20408   469   72490
B              5302    93852       31160  2056  132370
C              6023    88928       23147  2777  120875
D              5007    53281       13681  2308   74277
E              2842    24639        5949  1374   34804
F              1526     8444        2328   606   12904
G               409     1990         643   199    3241
All           22671   321185       97316  9789  450961

In [6]:
contingency_table_percent = contingency_table.div(contingency_table.loc['All', 'All'], axis=None) * 100

contingency_table_percent

status  Charged Off    Current  Fully Paid      Late         All
grade
A          0.346371  11.098742    4.525447  0.104000   16.074561
B          1.175711  20.811556    6.909688  0.455915   29.352871
C          1.335592  19.719665    5.132816  0.615796   26.803870
D          1.110296  11.814991    3.033743  0.511796   16.470826
E          0.630210   5.463665    1.319183  0.304683    7.717741
F          0.338388   1.872446    0.516231  0.134380    2.861445
G          0.090695   0.441280    0.142584  0.044128    0.718687
All        5.027264  71.222345   21.579693  2.170698  100.000000